<td>
	<%= comment.user.email %>
</td>
<td style="width:50%">
	<%= comment.description %>
</td>
<td>
	<% if comment.user.id == user.id %>  
			<ul class="list-group list-group-flush">
				<li class="list-group-item">
					<%= link_to 'Edit', edit_post_comment_path(comment.post, comment), method: :get, remote: true, :class => 'btn btn-outline-primary btn-block'  %>
				</li>
				<li class="list-group-item">
					<%= link_to 'Delete', post_comment_path(comment.post, comment), method: :delete, data: {confirm: "Are you sure?"}, remote: true, :class => 'btn btn-outline-primary btn-block'  %>
				</li>
			</ul>
	<% else %>
			<ul class="list-group list-group-flush">
				<li class="list-group-item">
					<%= link_to 'View Posts', user_posts_path(comment.user), :class => 'btn btn-outline-primary btn-block' %>
				</li>
			</ul>
	<% end %>
</td>
<td>
	<%= render 'comments/reactions/reaction_list', comment: comment %>
</td>