<div id="post-id-comments" data-post-id="<%= @post.try(:id) %>"></div>
<div id="user-id-comments" data-user-id="<%= current_user.try(:id) %>"></div>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <%= link_to 'Home', root_path %>
    </li>
    <li class="breadcrumb-item">
      <%= link_to @post.user.email, user_posts_path(@post.user) %>
    </li>
    <li class="breadcrumb-item">
      <%= link_to "Posts", user_posts_path(@post.user) %>
    </li>
    <li class="breadcrumb-item" id="post-title-item">
      <%= link_to @post.title, post_path(@post), id: "post-title-link" %>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      Comments
    </li>
  </ol>
</nav>
<p id="notice"></p>
<div id="comments-section">
	<div class="row mt-4">
		<div class="col-12" id="comment_form">
			<%= render 'create_form', post: @post %>              
		</div>      
	</div>
	<div class="row mt-4">
		<div class="col-12">
			<%= render 'comments_table', comments: @comments, user: current_user %>
		</div>
	</div>
</div>