<%= form_for([ comment, reaction ], method: :delete, remote: true, html: { id: reaction.reaction_type.to_s+"_delete_form_comment_"+comment.id.to_s }) do |form| %>    
	<button type="submit" class="btn btn-primary">
		<%= humanize_type(reaction.reaction_type) %>
		<span class="badge badge-light" id="comment_<%= comment.id %>_<%= reaction.reaction_type.to_s %>_count">
			<%= reactions_count comment, reaction.reaction_type %>
		</span>
	</button>
<% end %>