<% if post.errors.any? %>
	<%= render 'shared/fail', errors: post.errors %>
<% end %>
<div class="card text-center">
	<div class="card-header">
		Edit Post
	</div>
	<div class="card-body">
		<%= form_with(model: post, url: current_user_post_path(post), local: true, html: { id: "edit_post_form" }) do |form| %>    
			<%= form.label :title %>
			<div class="form-label-group">
					<%= form.text_field :title, placeholder: "Post title", class: "form-control" %>
			</div>

			<%= form.label :description %>
			<div class="form-label-group">
					<%= form.text_area :description, placeholder: "Post description", class: "form-control" %>
			</div>

			<%= form.submit "Update", class: "btn btn-outline-primary btn-block" %>
		<% end %>
	</div>
</div>
