<ul class="nav nav-tabs">
  <li class="nav-item">    
    <a class="nav-link active" href="#">Post</a>
  </li>
  <li class="nav-item">
    <%= link_to 'Comments', post_comments_path(@post), class: "nav-link" %>
  </li>
  <% if @post.user.id == current_user.id %>
    <li class="nav-item">    
    <%= link_to 'Edit', edit_current_user_post_path(@post), :class => 'nav-link' %>
    </li>
    <li class="nav-item">    
      <%= link_to 'Delete', current_user_post_path(@post), method: :delete, data: {confirm: "Are you sure?"}, :class => 'nav-link'  %>
    </li>
  <% end %>
  <li class="nav-item">    
    <%= link_to 'Back', user_posts_path(@post.user), class: "nav-link" %>
  </li>
</ul>
<div class="container-fluid">
  <div class="row mt-4">
      <div class="col-12">
          <div class="card text-center">
              <div class="card-header">
                <h5 class="card-title"><%= @post.title %></h5>
              </div>
              <div class="card-body">
                  <p class="card-text"><%= @post.description %></p>
              </div>
          </div>
      </div>
  </div>
</div>
