<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <div class="container-fluid">
        <div class="row mt-4">
          <div class="col-2">
            <nav class="nav flex-column">
              <div class="card">
                <div class="card-body">
                  Welcome <strong><%= current_user.email %></strong>
                </div>
              </div>
              <div class="card" style="width: 18rem;">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <%= link_to 'Home', root_path %>
                  </li>
                  <li class="list-group-item">
                    <%= link_to 'New Post', new_current_user_post_path(current_user) %>
                  </li>
                  <li class="list-group-item">
                    <%= link_to 'My Posts', user_posts_path(current_user) %>
                  </li>
                  <li class="list-group-item">
                    <%= link_to "Logout", destroy_user_session_path, method: :delete %>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
          <div class="col-8">
            <%= yield %>
          </div>
          <div class="col-2">
          </div>
        </div>
      </div>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
